//color palette 
$background-light-brown: #c48d65;
$background-dark-brown: #bc855d;
$dark-brown: #402B00;
$placeholder-brown: #66480d;
$yellow-accent: #F0C350;
$pink-accent: #ea6588;
$dark-pink-accent: #cd3a61;