body{    
    // Navigation link styling
    #mainNav {
        display: flex;
        flex-wrap: wrap; // Wrap to next line
        justify-content: space-between;
    }

    .nav__link{
        padding:40px;
        font-size:1.7rem;
        color: $dark-brown;
        text-decoration: none;
        justify-content:space-between;
        &:hover{
            color: $yellow-accent
        }
        
        &#overviewButton{
            font-size:1.3rem;
            font-family:pixel2;
        }
    }

    @media (max-width: 767.98px) {
        .nav__link{
            padding:0px;
        }
    }

    #homeLink{
        margin-left: auto; 
    }

    #overviewDessertsLink {
        position: absolute;
    }

    //------------------------------------------------- HOME PAGE STYLING -------------------------------------------------------
    
    #logo{
        min-width:400px;
        max-width:600px;
    }
    
    #homeContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh; 
      
        .row { /* Correctly targets the .row element *within* #homeContainer */
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

    //--------------------------------------- ADD DESSERTS (DATA ENTRY PAGES) STYLING ------------------------------------------

    //COLUMNS OUTLINE
    @media (max-width: 767.98px) {
        .col, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2 {
            padding:10px;
            border: 2px solid $dark-brown;
        }
    }

    main{
        display: flex;   
        flex-direction: column;
        justify-content: center; 
        min-height: 70vh; 
    }

    label, legend{
        font-size:1.2rem;
        text-align: center;
    }

    #pageNumber{
        margin-right:50px;
        font-size:4rem;
    }

    #calendar { width: 40%; padding:10px;}
    #table { width: 60%; }
    #display { width: 80%; }
      
      // Page Hide/Show 
    .page { 
        display: none; 
        &.active { display: block; }
    }
    

    // Styling for Data Entry Containers (Page1, Page2, Page3)
    #dessertFormContainer{
        background: rgba($dark-brown, 0.25);
        outline: 5px solid $dark-brown;
        padding:20px;
    }

    #price{
        max-width:10vh;
        font-size:2vh;
        border: 0.3vh solid $dark-brown; 

        &::placeholder{
            color:$placeholder-brown;
        }
    }

    // Styling Image Upload Button 
    #dessertImage{
        color: $dark-brown; 
        max-width:33vh;
        font-size:2vh;
        background-color: $background-dark-brown; 
        border: 0.3vh solid $dark-brown; 

        &::file-selector-button{
            color: $dark-brown; 
            border-right: 0.3vh solid $dark-brown; 
        }
    }

    // Date Input Field
    .form-control:focus {
        outline: none; 
        box-shadow: none;
    }

    // Styling for Input Fields and Buttons
    #dessertName, #accompaniments, #store, #datePurchased,
    #dessertType, #flavour, #country,
    #prevButton, #nextButton { 
        max-width:30vh;
        background-color: transparent;
        border: none; /* Remove default border */
        outline: none;
        text-align: center;

        &::placeholder {
            color: $placeholder-brown;
            font-size:1.2rem;
            text-decoration: underline;
        }

        &#prevButton, &#nextButton {
            color: $dark-brown;
            font-size:2rem;
            margin:10px;
            border-bottom:none;        
        }
    }
    

    #storeContainer {
        display: flex;
        flex-direction: column; 
        background-image: url('../src/images/sign.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        padding:10px;

        label, input {
            width: 100%;  
        }
    }

    // CHANGING IMAGES
    #dessertTypeImages {
        img {
            display: none; // Hide images by default
            max-height:120px;
            padding:10px;
        }

        &:first-child {
            display: block; // Show first image
        }

    }

    #prevButton, #nextButton {
        padding: 10px;
    }

    #submitButtonContainer{
        padding:30px;
    }

    #submitButton{
        border: 0.3vh solid $dark-brown;
    }
    // Stars Rating 'Field'
    .stars {
        i { // Nested inside .stars
          color: $dark-brown;
          cursor: pointer;
          transition: color 0.2s ease;
      
          &.active { 
            color: $yellow-accent;
            }
        }
    }

    #confirmSubmit{
        background-color: $pink-accent;
        border: none; 
        &:hover{
            background-color: $dark-pink-accent;
        }
    }
    
    .modal {
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
    }
    
    .modal-title {
        font-weight: bold;
    }
      
    .modal-body {
        padding: 20px;
    }
    
    //------------------------------------------- MY DESSERTS STYLING  -----------------------------------------------

    #dessertEntriesTitle{
        padding:20px;
    }

    #myDessertsParagraph{
        padding:10px;
    }
    // Styling for Data Entry Containers (Page1, Page2, Page3)
    #dessertEntryContainer {
        background: #7950338a;
        outline: 0.5vh solid $dark-brown; 
        padding: 20px;

        // Align elements in center 
        .row{
            display: flex;           
            justify-content: center; 
            margin-left: 0;
            margin-right: 0;
        }

        .col-sm-12 {  // Target the Bootstrap column class directly
            padding:20px;
            outline: 0.5vh solid $dark-brown; 

            &:first-child{
                background-color: #ce87548a;
            }

            &:last-child{
                background-color: #e6af887a;
            }
        }   
      }
      
    p{
        text-align:center;
        font-size:1.2rem
    }

    #overviewButton {  /* Use the ID selector */
        padding: 10px 20px;
        background-color:$pink-accent; 
        color: $dark-brown;
        border: 0.5vh solid $dark-brown; 
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

    .button-container { /* Add a container for the button */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center;    /* Center vertically (if needed) */
      }
      
      #overviewButton:hover {
        background-color: $dark-pink-accent;
      }
      

      // ------------- ACCORDION STYLING -----------------------
      #dessertAccordion {
        display: flex;
        flex-wrap: wrap; 
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 30px;
    }
    
    .accordion-item {
        display: flex;
        flex-direction: column;
        width:200px;
        border: 0.3vh solid black;
        margin-bottom: 15px;
        border-radius: none;
        text-overflow: ellipsis;
    
        // Restore Missing Top Border - Override Bootstrap
        &:not(:first-child) {
            border-top: 0.3vh solid black; 
        }

        // Cascade Accordion Overview elements downwards 
        .accordion-button {
            min-height: 200px;
            background-color: #fff; 
            color: $dark-brown;
            display: flex; 
            flex-direction: column; 
            align-items: flex-start;    
    
            &:focus{
                outline:none;
                box-shadow: none;
            }

            &:hover{
                background-color:$yellow-accent;
            }
        }

        // Style the image
        img {
            width: 100%; 
            height:108px;
            object-fit: contain;
        }

        .accordion-body p{
            text-align: left;
            font-size:1rem;
        }
          // Style the Price
          .priceDisplay { 
            font-weight: bold;
            margin-bottom: 5px; 
          }
      }

    //------------------------------------------- OVERVIEW STYLING  -----------------------------------------------
    #backButton{
        margin-left:-40px;
    }

    #tipContainer{
        padding:20px;
    }
    
    .notebook {
        display: flex;
        align-items: center; 
        background-color: #f5f5f5;
        position: relative;   
        border: 0.5vh solid black; 
        padding: 60px;  
        min-height:45vh;
    }
    
    .spine {
        position: absolute; 
        top: 0;
        left: -20px; 
        z-index: 1; 
    }
    
    .glide__slide {
        background-color: white;
        border: 0.3vh solid black; 
        padding: 20px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        text-align: center;

        #flavourText { 
            font-size: 2rem;
            margin-bottom: 10px; 
        }

        span {
            font-size: 3rem;
            display: inline-flex;   /* Use inline-flex for horizontal centering */
            align-items: center;     /* Vertically center content within the span */
            margin-bottom: 10px;  
        }

        p {
            font-family: pixel2;
            font-size: 1.2rem; 
            line-height: 1.4; 
        }
}

}