//--------------------- Element styling------------------------
$text-color: $dark-brown;

// Apply common styles to headings and divs
h1, h2, div {
    font-weight: normal;
    color: $text-color;
}

// Specific styles for h1
h1 {
    font-family: pixel1;
    font-size: 1.5rem;

    &#newEntryTitle{
        margin-left:55px;
    }
}


// Specific styles for h2
h2 {
    font-family: pixel2;
    font-size:3rem;
    text-align:center;
}

// Specific styles for div
div {
    font-family: pixel1;
}

// Data Entry Pages Label Styling
label, legend, h3 {
    font-family: pixel2;
    font-size:1.2rem;
    margin-bottom: 5px; 

    &[for="dessertName"] { 
        font-size:2.5rem;
    }
    &[for="storeBought"] { 
        font-size:1rem;
    }
    &[for="delivery"] { 
        font-size:1rem;
    }
    &[for="homemade"] { 
        font-size:1rem;
    }&#dessertEntriesTitle{
        font-family:pixel1;
    }
}