//---------------------general element styling------------------------
$text-color: $dark-brown;

// Apply common styles to headings and divs
h1, h2, div {
    font-weight: normal;
    color: $text-color;
}

// Specific styles for h1
h1 {
    font-family: pixel1;
    font-size: x-large;
}

// Specific styles for h2
h2 {
    font-family: pixel2;
}

// Specific styles for div
div {
    font-family: pixel1;
}
